/* Import font */
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

:root {
    --accent: rgba(128, 9, 31, 0.626);
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #000000;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.2rem;
    
    --font-size-md: 1.2rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.2rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 2rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base Styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 /* font-size: 10px;    */
 font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: var(--primary-background-color .25s, color .25s) ;
}

a{
    text-decoration: none;
    color: inherit;
}


img {
    /* adjust the below to control the 3D effect */
    --x: 10px;
    --y: 20px;
    transform: perspective(1000px) rotateX(var(--_a,40deg));
    /* */
    clip-path: polygon(       
       var(--y)              var(--y),       
       calc(100% - var(--y)) var(--y),       
       calc(100% - var(--y)) calc(100% - var(--y)),       
       calc(100% - var(--y) - var(--x)) var(--_c,100%),       
       calc(var(--x) + var(--y))        var(--_c,100%),      
       var(--y)        calc(100% - var(--y))       
       );
    outline: var(--y) solid rgba(0,0,0,0.4);
    outline-offset: calc(-1*var(--y));
    padding: var(--y) var(--y) 0 var(--y);
    transition: 1s;
  }
  .box:hover img {
    --_a: 0deg;
    --_c: calc(100% - var(--y));
  }
  
  /* the below is irrelevant to the 3D effect */
  .box {
    cursor: pointer;
  }
  h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(250%);
    transition: .8s;
  }
  .box:hover h2{
    transform: translateY(0%);
    transition: .8s .2s;
  }
  
  body {
    background: rgb(23, 23, 23);
    display: grid;
    min-height: 100vh;
    grid-auto-flow: column;
    place-content: center;
    gap: 40px;
  }
  
  @media (max-width: 900px) {
    body {
      grid-auto-flow: row;   
    }
  }

ul{
    list-style: none;
}


input,
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}

/* Theme Color change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-light-color: #252838;
    --transparent-dark-color: rgba(0,0,0,.75);
}

/* Reusable classes */

/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);
    transition: opacity .25s ease-in;
}
